<div class="fc-event-title">{{model.title}}</div>
<div class="fc-event-presenters">{{handlePresenters model.presenters}}</div>
<div class="fc-event-location">{{model.location}}</div>
<div class="fc-event-time">{{model.start}} - {{model.end}}</div>
