<section id="eventDetails" class="eventInfo">
    <header>
        <h1>{{subject}}</h1>
    </header>

    <dl>
        <dt>Start Date</dt>
        <dd>{{start}}</dd>
        <dt>End Date</dt>
        <dd>{{end}}</dd>
    </dl>
    <dl class="location">
        <dt>Location</dt>
        <dd>{{location}}</dd>
    </dl>

    <dl>
        <dt>Presetners</dt>
        <dd id="presenters"></dd>
    </dl>

    <div>{{description}}</div>
</section>
