<section id="eventDetails" class="eventInfo">
    <header>
        <h1>{{subject}}</h1>
    </header>

    <dl>
        <dt>Start Date</dt>
        <dd>{{start}}</dd>
        <dt>End Date</dt>
        <dd>{{end}}</dd>
    </dl>
    <dl class="location">
        <dt>Location</dt>
        <dd>{{location}}</dd>
    </dl>

    <dl>
        <dt>Presenters</dt>
        <dd id="presenters"></dd>
    </dl>

    <div>{{description}}</div>

    <strong>Rate this talk</strong>
    <form id="ratingsForm">
    <div class="stars">
        <input type="radio" name="star" class="star-1" id="star1" />
        <label class="star-1 votePositive" data-id="{{id}}"  data-value="1" for="star-1">1</label>
        <input type="radio" name="star"  class="star-2" id="star2" />
        <label class="star-2 votePositive" data-id="{{id}}" data-value="2"  for="star-2">2</label>
        <input type="radio" name="star"  class="star-3" id="star3"  />
        <label class="star-3 votePositive" data-id="{{id}}" data-value="3" for="star-3">3</label>
        <input type="radio" name="star" class="star-4" id="star4"  />
        <label class="star-4 votePositive" data-id="{{id}}" data-value="4" for="star-4">4</label>
        <input type="radio" name="star" class="star-5" id="star5"  />
        <label class="star-5 votePositive" data-id="{{id}}" data-value="5" for="star-5">5</label>
        <span></span>
    </div>
</form>
</section>
