<div class="question small-8 medium-9 columns">{{question}}</div>
<div class="votingWrapper small-4 medium-3 columns">
    <button class="votePositive button radius tiny {{#if upvoteDisabled}}disabled{{/if}}" data-id="{{id}}" title="Vote"><i class="fa fa-plus"> 1</i></button>
    <button class="voteNegative button radius tiny {{#if downvoteDisabled}}disabled{{/if}}" data-id="{{id}}" title="Vote"><i class="fa fa-minus"> 1</i></button>
    <div class="votes text-center"><span class="count">{{votes}}</span> vote{{handleVotes votes}}</div>
</div>
